# Compilred source #
###################
*.pyc

# Type of Files #
#################
*.less
*.png
*.jpg
*.md

# Folders #
###########
*/docs
*/examples
*/lib
#/tests

# Specific Files #
##################
LICENSE
Makefile