<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="../../static/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
 
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Helpp.me</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">Electronics</a></li>
            <li><a href="#contact">Air Travel</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="row">
          <br />

          <div class="span-two-thirds">
            <div class="span-upvote">
              <h6 class="small-line-height">45 pts</h6>
            </div>
            
            <div class="span-deal">
              <h4 class="small-line-height"><a href="#" target="_blank">Leather Sleeve with Modem Pouch for Apple iPad and HP TouchPad $399 buy now!</a></h4> 
              <br />
              <p class="deal-info">Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor</p>
              <br />
              <p>posted 4 days ago by soccerbud</p>
              <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
              </div>
              
              <hr />
              <h5>similar deals on amazon</h4>
              <ul class="media-grid">
                <li>
                  <a href="#">
                    <img class="thumbnail" src="http://placehold.it/210x150" alt="">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="thumbnail" src="http://placehold.it/210x150" alt="">
                  </a>
                </li>
              </ul>

            </div>
          </div>

          <div class="span-one-third">
            <div style="padding-left:25px">
              <h4 class="small-line-height">More Deals in Air Travel</h4>
              <ul class="unstyled">
                <li>Hot Deal1</li>
                <li>Hot Deal2</li>
                <li>Hot Deal3</li>
                <li>Hot Deal4</li>
                <li>Hot Deal5</li>
              </ul>
            </div> 
            <div class ="minihero-unit" style="padding-left:25px">
              <h4 class="small-line-height">Ad here</h4>
            </div> 
          </div>
        </div>

        <div class="row">
           <div class="span-two-thirds">
              <hr \>
              <div id="disqus_thread"></div>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>

           <div class="span-one-third">
            &nbsp;
          </div>
        </div>
      <footer>
        <p>copyrighted 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
<!--SHARE THIS-->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e883fb86021d9b6"></script>
<!--SHARE discuss-->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'helppme'; // required: replace example with your forum shortname
    var disqus_developer = 1; // developer mode is on

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</html>
</html>
