{% extends "template.html" %}
{% block title %}something here{% endblock %}
{% block container %}
  <div class="row">
    <div class="span-two-thirds">

      <div class="deal">

        <div class="span-upvote">
          <h6 class="small-line-height" style="float:right; margin-top:60px">34 pts</h6>
        </div>

        <div class="span-deal">
          <ul class="tabs" data-tabs="tabs" >
            <li><a href="#">Trending</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Newest</a></li>
            <li class="dropdown" data-dropdown="dropdown" style="float:right">
              <a href="#" class="dropdown-toggle">Sort By</a>
              <ul class="dropdown-menu">
                <li><a href="#">Today</a></li>
                <li><a href="#">This Week</a></li>
                <li><a href="#">This Month</a></li>
                <li><a href="#">This Year</a></li>
              </ul>
            </li>     
          </ul>

          <h4 class="small-line-height">Leather Sleeve with Modem Pouch for Apple iPad and HP TouchPad $399 buy now!</h4>
          <div style="border-left: 5px solid #eee; padding-left: 15px;">
            <p style="margin-top: 9px">Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor</p>
            <p>amazon.com - electronics - soccerbud - 4 hours ago - <a href="#">374 comments</a></p>
          </div>

        <br />
        <br />
        </div>
      </div>

      <div class="deal">

        <div class="span-upvote">
          <h6 class="small-line-height" style="float: right;">3250 pts</h6>
          <a style="float: right;" data-controls-modal="hybrid" data-backdrop="true" data-keyboard="true" rel="twipsy" data-original-title="vote" href="#"><img src="../static/thumb-up.png"/></a>
        </div>

        <div class="span-deal">
          <h4 class="small-line-height"> Pouch for Apple iPad and HP TouchPad $399 buy now!</h4>
          <div style="border-left: 5px solid #eee; padding-left: 15px;">
            <p style="margin-top:9px">Vestibulum Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor</p>
            <p>Best Buy BM - electronics - scrooge mcdooge - 2 hours ago - <a href="#"> 1000 comments</a></p>
          </div>
        </div>
      </div>
       
    </div>          

    <div class="span-one-third">

      <div class="minihero-unit" style="margin-top:54px">
        <h4>Hello, world!</h4>
        <p>Helppme is a website that helps you find the best and cheapest deals on the internet. 
          <br />
          <br />
          Helpp.me is 100% free.
        </p>
      </div>
    </div>

  </div>
{% endblock %}