{% extends "template.html" %}
{% from "macros/deal_macros.html" import render_deal_description %}
{% from "macros/navbar.html" import render_sort_tab, render_category_filter_sidebar, render_date_filter_sidebar, render_user_action_nav, render_author_action_nav %}
{% block title %}{{current_sort|capitalize}} {% if current_category != "everything" %} {{current_category}} {% endif %} deals, coupons, and bargain - SAVNG{% endblock %}
{% block container %}
<div class="content">
    <div class="row">
      <div class="span-two-thirds">
        <div class="row">
          <div class="span-upvote">
            <h3 style="margin-top: 10px;">Show</h3>
          </div>
          <div class="span-deal">
            {{ render_sort_tab('deals', current_category, current_date, current_sort)}}
          </div>
        </div>
      </div>
    </div> 
 
    <!-- /tab row -->
    <div class="row">
      <div class="span-two-thirds row" style="margin-left: 0px;">

        <div class="span-upvote">
         {{ render_category_filter_sidebar(current_category, current_date, current_sort) }}
         <hr />
         {{ render_date_filter_sidebar(current_category, current_date, current_sort) }}
          </div>        
        <!-- /span-upvote -->

        <div class="span-deal">
          {% set num_deals = deal_seq_nums|length %}
          {% if num_deals == 0 %}
            <div id="nothing">
              <h2>There are no deals here :(</h2>
            </div>
          {% endif %}
          <!-- no deals available in this category-->

          {% for num in deal_seq_nums %}
            {% set deal = get_deal(num) %}
            <div id="{{ deal['id'] }}" class="deal row" style="margin-top: -2px; margin-left: 0px; margin-bottom:30px;">
              {{ render_deal_description(deal) }}
            </div>
          {% endfor %}
          <!-- list of deals -->

          {% if num_deals > 0 %}
            <div class="pagination" style="float: left;">
              <ul>
                {% if has_previous %}
                  <li class="previous">
                    <a href="/deals/{{current_category}}/{{current_date}}/{{current_sort}}/{{previous_page}}">Previous</a>
                  </li>
                {% else %}
                  <li class="previous disabled">
                    <a >Previous</a>
                  </li>
                {% endif %}
                
                {% if has_next %}
                  <li class="next">
                    <a href="/deals/{{current_category}}/{{current_date}}/{{current_sort}}/{{next_page}}">Next</a>
                  </li>
                {% else %}
                  <li class="next disabled">
                    <a>Next</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
          <!--  span-pagination -->
        </div> 
        <!-- /span-deal -->

      </div>
      <!-- /span-two-thirds -->

      <div class="span-one-third">

        <div class="mini-well">
          <h3 class="color-brown" style="margin-bottom: 9px;">What is Savng?</h3>
          <p>Savng is a community that find and share deals with each other. Here are some great bargains that we've found. </p>
        </div>

        <div class="mini-well">
          {% if user.is_anonymous() %}
            <h3><a class="color-light-blue" data-controls-modal="hybrid" data-backdrop="true" data-keyboard="true">Found a deal? Share it.</a></h3>
          {% else %}
            <h3><a class="color-light-blue" href="/deals/post">Found a deal? Share it.</a></h3>
          {% endif %}
        </div>

      </div> 
      <!-- /span-one-third -->
    </div> 
    <!-- /row -->
  </div> 
  <!-- /content -->
{% endblock %}