{% extends "template.html" %}
{% block title %}Login Required{% endblock %}
{% block container %}
  <div class="content">
      <div class="row">
            <div class="span4">
                  &nbsp;
            </div>

            <div class="span8">
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <h1 style="font-size: 46px;">401 <small style="font-size: 32px; color:#404040;">Login Required</small></h1>
                  <h3>
                        Oops. You must <a data-controls-modal="hybrid" href="#" onclick="showForm('login'); return false;">Login</a> or <a data-controls-modal="hybrid" href="#" onclick="showForm('signUp'); return false;">Sign Up</a> to do that.
                  </h3>
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
            </div>

            <div class="span4">
                  &nbsp;
            </div>
      </div>
</div>
{% endblock %}