{% extends "template.html" %}
{% from "macros/forms.html" import render_deal_submission_form %}
{% block title %}Share a deal with the community{% endblock %}
{% block container %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="content">
    
    <div class="row" style="margin-top: 20px">
      <h1 class="color-brown" style="margin-left: 20px">Forgot password</h1>
      <!--  page header-->
      <div class="span-two-thirds row" >
        <div class="span-2">
          &nbsp;
        </div>
        <div class="well span6" style="padding-right: 0px; margin-left: 0px; background-color: #FFF;">
          <form id="deal-submit-form" class="form-stacked" method="POST" action="/deals/post/" style="padding-left: 0px;"> 
            <fieldset>

                <div id="csrf">
                  {{ form.csrf }}
                </div>
                <!-- CSRF -->
                
                <div class="clearfix" id="title">
                  <label for="username">What is your username?</label>
                  <div class="input">
                      <input class="span5" id="username" name="username" type="text" tabindex="1"/>
                  </div>
                </div>
                <!-- username -->

                <div class="actions clearfix span5" style="margin-top: 20px;">
                  <input id="deal-submit-button" type="submit" class="btn primary" value="Submit" tabindex="5">
                </div>
                <!-- buttons -->

             </fieldset>
          </form>
          <!-- submit-form -->
        </div>
        <!-- well -->
      </div>
      <!-- span-two-thirds-->

      <div class="span-one-third">

        <blockquote>
          <h3 style="font-family: 'Love Ya Like A Sister', cursive">Don't worry. <br />Tell us your username, and we will email you with instructions shortly :)</h3>
          <br />
          <h5 class="color-grey" >
          - Your friends @ SAVNG
          </h5>
        </blockquote>
        
      </div>
     <!-- span one third -->    
    </div>
    <!-- span row -->  
  </div>
{% endblock %}

{% block javascript %}
<!-- Chosen -->
<script type="text/javascript" src="http://127.0.0.1:5000/static/js/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
<!--SHARE THIS-->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e883fb86021d9b6">
</script>
<!--SHARE discuss-->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'helppme'; // required: replace example with your forum shortname
    var disqus_developer = 1; // developer mode is on

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}